@import "tailwindcss";


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navegador {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.navegador h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  width: 27rem;
  margin: 0;
}

.navegador__icons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.im {
  width: 2rem;
  height: 2rem;
}

.boton{
  font-size: 1rem;
  display: flex;
  gap: 5px;
  border: 1px solid black;
  padding: 6px;
  border-radius: 10px;
  background-color: #f0f0f0;

}
.boton:hover{
  border: 1px solid ;
 border: 1px solid gold;

}
.navbtn{
  display: flex;
  justify-content: space-between;
  padding: 8px;

}