@import "tailwindcss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navegador {
  display: flex;
  width: 95%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1rem;
}

.navegador h2 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #000;
  width: 27rem;
  margin: 0;
}

.navegador__icons {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;
  align-items: center;
}

.im {
  width: 2rem;
  height: 2rem;
}

.boton {
  font-size: 1rem;
  display: flex;
  gap: 5px;
  border: 1px solid black;
  padding: 6px;
  border-radius: 10px;
  background-color: #f0f0f0;
}

.boton:hover {
  border: 1px solid;
  border: 1px solid gold;
}

.navbtn {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.btn {
  background-color: black;
  color: white;
  width: 60px;
  padding: 4px;
  border-radius: 7px;
}

.contenedor {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 8px;
}

.carta {
  padding: 9px;
  background-color: #d3d3d3;
  box-shadow: 0.3px 0.3px 2rem #666666;
}

.imagen {
  width: 95%;
  margin: 0 auto;
  border-radius: 10px;
}

.titulo {
  margin-top: 10px 0;
  font-weight: 700;
}

.precio {
  font-weight: 700;
  font-size: 12px;
}

.entre {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.por {
  margin: 10px 0;
  color: gray;
  font-size: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

@media (min-width: 768px) {
  .contenedor {
    grid-template-columns: repeat(3, 1fr);
  }

  .navegador h2 {
    font-size: 1.5rem;
    width: 35rem;
  }

  .carta {
    padding: 15px;
  }

  .titulo {
    font-size: 1.2rem;
  }

  .precio {
    font-size: 16px;
  }

  .footer {
    padding: 2rem;
  }
}

@media (min-width: 1024px) {
  .contenedor {
    grid-template-columns: repeat(4, 1fr);
  }

  .navegador {
    padding: 2rem;
  }

  .navegador h2 {
    font-size: 2rem;
    width: 40rem;
  }

  .carta {
    padding: 20px;
  }

  .titulo {
    font-size: 1.5rem;
  }

  .precio {
    font-size: 18px;
  }

  .footer {
    padding: 2rem 3rem;
  }
}
